* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat';

}
/*all classes*/
.wrapper {
    width: 960px;
    margin: 0 auto;
/*    background: grey;*/
/*    border: 1px solid black;*/
}
.en-wrapper {
    width: 960px;
    margin: 0 auto;
/*    background: grey;*/
/*    border: 1px solid black;*/
}
.logo-left {
    float: left;
/*    border: 1px solid red;*/
}
.nav-right {
    float: right;
    margin-top: 25px;
}
.text-uppercase {
    text-transform: uppercase;
}
.clearfix {
    overflow: hidden;
}


/*header*/
header {
    position: absolute;
    top: 0;
    width: 100%;
/*    border: 1px solid red;*/
    z-index: 1;
}
/*video play*/
.videoplay {
    background: rgba(0, 0, 0, 0.5);
}
video {
    display: block;
    position: relative;
    z-index: -100;
    transition: 1s opacity;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
/*Language*/
.en-wrapper > ul {
    text-align: right;
    text-style: none;
    margin-top: 40px;
}
.en-wrapper > ul > li > a {
    text-decoration: none;
    color: #EEEEEE;
}
.en-wrapper > ul > li {
    display: inline-block;
    font-size: 9pt;
    padding-left: 5px;
}
.en-wrapper > ul li:last-child > a {
    padding-left: 5px;
    border-left: 1px solid #EEEEEE;
    color: #9597AA;
}


/*Home Navigation*/
.nav-right {
    text-align: left;
    text-style: none;
}
.nav-right > ul > li {

    font-size: 10pt;
    display: inline-block;
    margin-left: 20px;

}
.nav-right > ul > li > a {
    text-decoration: none;
    color: #EEEEEE;
}

.nav-right > ul > li:first-child > a{
    color: #00B29F;
}
.nav-right > ul > li:last-child {
/*    border: 1px solid black;*/
    background: #00B29F;
    border-radius: 25px;
    padding: 15px 25px;

}
/*visit and explore astoria palawan*/
.explore-wrapper {
    width: 960px;
    margin: 0 auto;
/*    background: grey;*/
/*    border: 1px solid black;*/
    margin-top: 10px;
}
.explore-wrapper > ul {
    text-align: center;
    text-decoration: none;
}
.explore-wrapper > ul > li {
    overflow: hidden;
}
.explore-wrapper > ul > li:first-child {
    font-size: 45pt;
    color: #EEEEEE;
}
.explore-wrapper .line {
    border-bottom: 5px solid #00B29F;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 30px;
}
.explore-wrapper > ul > li:nth-child(3) {
    font-size: 20pt;
    color: #00B29F;
    margin-bottom: 300px;
}
.explore-wrapper > ul > li:last-child > i {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 25px;
    background: #00B29F;
    color: #EEEEEE;
}


/*about astoria-palawan*/
.content {
    width: 100%;
/*    border: 2px solid black;*/
    background: #4E382A;
}
.astoria-wrapper {
    padding-bottom: 70px;
    padding-top: 70px;
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
/*    border: 1px solid red;*/
}
/*asotria content-left*/
.astoria-wrapper .content-left {
    float: left;
    position: relative;
/*    border: 1px solid black;*/
    width: 65%;
}
.content-left > p:first-child {
    color: #046D5D;
}
.content-left > p:nth-child(2) {
    color: #00B29F;
    font-size: 22pt;
    margin-bottom: 40px;
}
.content-left > p:nth-child(3) {
    color: #fff;
    line-height:150%;
    margin-bottom: 40px;
    font-size: 11pt;
}
.content-left > p:last-child{
    color: #97928F;
    font-size: 11pt;
    line-height:150%;
}
.astoria-wrapper .content-right {
    float: right;
    position: relative;
    overflow: hidden;
/*    border: 1px solid red;*/
    width: 35%;
}
.content-right .search-box {
    background: #D3CECB;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 10pt;
    padding-left: 10px;
    border: 0;
}

.content-right .btn {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 10pt;
    background: #00B29F;
    color: #fff;
    border: 0;
}



/*slide galleries*/
.slide-gallery {
    position: relative;
    margin: 0 auto;
    height: 540px;
    width: 100%;
    overflow: hidden;
}
.slide-gallery img {
    height: 540px;
}
.slide-gallery .slide-left img {
    float: left;
    position:relative;
    left: -172px;
}
.slide-gallery .slide-center img {
    float: left;
    position: absolute;
    left: 172px;
}
.slide-gallery .slide-right img {
    float: right;
    position: absolute;
    right: -788px;


}

.galleries {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
/*    border: 2px solid red;*/
}
.galleries .gallery-left img {
    float: left;
    position: relative;
    height: 200px;
    width: 25%;
}
.galleries .gallery-center img {
    float: left;
    position: relative;
    height: 200px;
    width: 25%;
}
.galleries .gallery-right img {
    float: left;
    position: absolute;
    height: 200px;
    width: 25%;
}
/*checkout social feeds*/
.socialfeed-content {
    width: 100%;
    background: #F2F2F2;
/*    border: 2px solid red;*/
}
.social-wrapper {
    margin: 0 auto;
    width: 960px;
/*    border: 2px solid black;*/
    padding-top:40px;
}
.social-wrapper .title > p:first-child {
    color: #6CD6CD;
    font-size: 11pt;
}
.social-wrapper .title > p:last-child {
    color: #00B19E;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 10px;
}

/*facebook navigation*/
.face-nav {
    text-align: left;
    text-style: none;
    overflow: hidden;

/*    border: 1px solid black;*/
}
.face-nav > ul > li {
/*    border: 1px solid black;*/
    font-size: 10pt;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-style: none;

}
.face-nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
}
.face-nav > ul > li > i{
    margin-right: 5px;
    color: #FFF;
}
.face-nav > ul > li:first-child {
    float: left;
    position: relative;
    background: #4C4C4C;
    width: 192px;

}
.face-nav > ul > li:nth-child(2) {
    float: left;
    position: relative;
    background: #2D7BC9;
    width: 192px;

}
.face-nav > ul > li:nth-child(3) {
    float: left;
    position: relative;
    background: #00B8F5;
    width: 192px;
}
.face-nav > ul > li:nth-child(4) {
    float: left;
    position: relative;
    background: #EA003A;
    width: 192px;
}
.face-nav > ul > li:last-child {
    float: left;
    position: absolute;
    background: #6E8E99;
    width: 192px;
}

/*coMments*/

.comment-content {
    width: 100%;
/*    border: 2px solid black;*/
    margin-top: 40px;
    overflow: hidden;
}
.comment-content .comment-wrapper {
    width: 960px;
    margin: 0 auto;
/*    border: 1px solid red;*/
    overflow: hidden;
}
.comment-wrapper .comment-left{
    float: left;
    position: relative;
    width: 49%;
/*    border: 1px solid black;*/

}
.comment-wrapper .comment-left img {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.comment-wrapper .comment-left > ul > li {
    list-style: none;
    padding: 20px;
 /*   border: 1px solid black;*/
    margin-bottom: 30px;
    background: #FFFFFF;
}
/*li-1*/
.comment-left > ul > li > span {
    float: right;
    font-size: 11pt;
    color: #A6A6A6;
}
.comment-left > ul > li:first-child > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;
}

.comment-left > ul > li:first-child > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-left > ul > li:first-child  > span {
    float: right;
}


/*li-2*/
.comment-left > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-left > ul > li:nth-child(2) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-left > ul > li:nth-child(2) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-left > ul > li:nth-child(2) > span {
    float: right;
}

/*li-3*/
.comment-left > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-left > ul > li:nth-child(3) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-left > ul > li:nth-child(3) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-left > ul > li:nth-child(3) > span {
    float: right;
}


/*li-4*/
.comment-left > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-left > ul > li:nth-child(4) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-left > ul > li:nth-child(4) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-left > ul > li:nth-child(4) > span {
    float: right;
}
/*li-1*/
.comment-right > ul > li > span {
    float: right;
    font-size: 11pt;
    color: #A6A6A6;
}
.comment-right > ul > li:first-child > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}

/*comment right*/
.comment-wrapper .comment-right {
    float: right;
    width: 49%;
    height: 700px;
/*    border: 1px solid black;*/
}
.comment-wrapper .comment-right img {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.comment-wrapper .comment-right > ul > li {
    list-style: none;
    padding: 20px;
/*    border: 1px solid black;*/
    margin-bottom: 30px;
    background: #FFFFFF;
}
.comment-right > ul > li:first-child > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-right > ul > li:first-child  > span {
    float: right;
}
/*li-2*/
.comment-right > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-right > ul > li:nth-child(2) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-right > ul > li:nth-child(2) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-right > ul > li:nth-child(2) > span {
    float: right;
}
/*li-3*/
.comment-right > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-right > ul > li:nth-child(3) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-right > ul > li:nth-child(3) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-right > ul > li:nth-child(3) > span {
    float: right;
}

/*li-4*/
.comment-right > ul > li > span {
    float: right;
    font-size: 11pt;
}
.comment-right > ul > li:nth-child(4) > p {
    line-height: 150%;
    font-size: 11pt;
    color: #A6A6A6;

}
.comment-right > ul > li:nth-child(4) > p > a {
    text-decoration: none;
    color: #00B29F;
}
.comment-right > ul > li:nth-child(4) > span {
    float: right;
}



.google-map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
#googleMap {
 /*   border: 2px solid red;*/
    width: 100%;
    height: 100%;
}


/*footer*/
.footer {
    width: 100%;
/*    border:1px solid black;*/
    overflow: hidden;
    background: #4E382A;
}
.footer .footer-wrapper {
/*    border: 1px solid red;*/
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-wrapper > img {
/*    border: 1px solid red;*/
    margin-left: 380px;
}
.nav-center ul {
    text-align: center;
    margin-bottom: 60px;
}
.nav-center > ul > li {
    display: inline-block;
    font-size: 11pt;
    padding: 5px;
    color: #FFF;
}
.footer-wrapper > p {
    text-align: center;
    color: #97928F;
    font-size: 10pt;
    margin-bottom: 60px;
}
.footer-icons {
    text-align:  center;
    margin-bottom: 10px;
}
.footer-icons > li {
    display: inline-block;
    padding: 10px;
    border: 2px solid #97928F;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 0.9;
    text-align: center;
    color: #FFF;
    margin-left: 5px;
}
.footer-icons > li > a > i {
    color: #97928F;
}