* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat';

}
/*all classes*/
.wrapper {
    width: 960px;
    margin: 0 auto;
/*    background: grey;*/
    border: 1px solid black;
}
.en-wrapper {
    width: 960px;
    margin: 0 auto;
/*    background: grey;*/
    border: 1px solid black;
}
.logo-left {
    float: left;
    border: 1px solid red;
}
.nav-right {
    float: right;
    margin-top: 25px;
}
.text-uppercase {
    text-transform: uppercase;
}
.clearfix {
    overflow: hidden;
}


/*header*/
header {
    width: 100%;
    border: 1px solid red;
    z-index: 1;
}
/*video play*/
.videoplay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.videoplay video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -100;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
    background: rgba(0, 0, 0, 0.5);
}
/*Language*/
.en-wrapper > ul {
    text-align: right;
    text-style: none;
    margin-top: 40px;
}
.en-wrapper > ul > li {
    display: inline-block;
    font-size: 9pt;
    padding-left: 5px;
    color: #EEEEEE;
}
.en-wrapper > ul li:last-child {
    border-left: 1px solid #EEEEEE;
    color: #9597AA;
}
/*Home Navigation*/
nav {
    text-align: left;
    text-style: none;
}
nav > ul > li {

    font-size: 10pt;
    display: inline-block;
    margin-left: 20px;
    color: #EEEEEE;
}
nav > ul > li:first-child {
    color: #00B29F;
}
nav > ul > li:last-child {
/*    border: 1px solid black;*/
    background: #00B29F;
    border-radius: 25px;
    padding: 15px 25px;

}
/*visit and explore astoria palawan*/
.explore-wrapper {
    width: 960px;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
    margin-top: 40px;
}
.explore-wrapper > ul {
    text-align: center;
    text-decoration: none;
}
.explore-wrapper > ul > li {
    padding-bottom: 50px;
    overflow: hidden;
}
.explore-wrapper > ul > li:first-child {
    font-size: 45pt;
    color: #EEEEEE;
}
.explore-wrapper span {

}
